* {
    z-index: 1;
}
html, body{
    height:100%;
    overflow-y: hidden; /*strange but seems to be necessary*/
}
header{
    height:52px; /*necessary because of 100%-50px*/
    position: relative; /* because of shadow*/
    z-index:10; /*shadow over main content, not the other way round*/
    box-shadow: rgba(75, 82, 87, 0.45) 0 0 4px 2px;
}
main{
    height:calc(100% - 52px);
    z-index:1; /* header shadow over main content, not the other way round*/
}
#mainRow{
 overflow-y:hidden;
}
.filter-area{
    background: #f8f8f8;
    /*border-right:solid #000000;*/
    box-shadow: rgba(75, 82, 87, 0.45) 0 0 3px 2px;
    border-color: #e7e7e7;
    overflow-y:auto;
    overflow-x: hidden;
}
.filterContainer{
    margin-top: 20px;
}

.full-height {
    height:100%;
}
.yearFilter {
    height:87px;
    overflow:hidden;
    padding-top: -9px;
    padding-left: 23px;
    padding-right: 23px;
}
.yearFilter .filterContainer {
    margin-top: 0;
}

.filter-info{
    color: #7b7b7b;
    font-size:0.7em;
    margin-top:8px;
}
#visibleMoviesCounter{
    font-size: 0.84em;
    color: #757575;

    /*Advantage of absolute: can be on the right border independently of the width*/
    /*position: absolute;*/
    /*top: 25px;*/
    /*right: 8px;*/
    /*Advantage of relative: can be scrolled if screen is not high enough*/
    position: relative;
    right: -89px;
    top: -29px;
    margin-bottom: -31px;

}
.scatterPlot {
    height: calc(100% - 87px);
    vertical-align: middle;
}
#genreScatterplot {
    height: 300px;
    width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.no-padding {
    padding:0;
}

.visible{
    visibility: visible !important;
}
a h4 {
    color: #717171;
}
h5 {
    font-weight:bold;
}
#shortcuts button {
    margin-bottom: 3px;
}
#leftFiltersContainer{
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -16px;
}
#rightFilters {
    overflow-y: scroll;
}
#movieInfos {
    visibility:hidden;
    height: 100%;
}
.rightSidebarInfos {
    height:calc(100% - 310px);
}
#similarMovies{
    overflow-y: scroll;
    height: calc(100% - 230px);
    min-height: 149px;
}
.similarMovieButton {
    width: 44%;
    margin: 3px;
    padding:4px;
    font-size: 0.8em;
    height: 66px;
    overflow-x: hidden;
}
#movieInfosTable{
    width:90%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size:0.9em;
}
#movieInfosTable th {
    width: 72px;
}
#shortcuts {
    bottom: 13px;
    position: absolute;
}

#centralScatterplotArea{
    z-index:0;
}
.center-using-auto-margins{
    margin-left: auto;
    margin-right: auto;
}
.loadingIcon {
    /*icon height: 50-2*8=34; icon width 34=x-2*15 => x=64 */
    /*width: 64px;*/
    /*height: 50px;*/
    /*padding: 8px 15px;*/

    box-sizing: content-box;
    width:30px;
    height:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.top-logo{
    padding-top:10px;
    padding-bottom:10px;
}

.hidden{
    visibility: hidden;
}

.infoBox{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    font-size:0.7em;
    color: rgba(0, 0, 0, 0.67);
    background: rgba(0, 0, 0, 0.05);
    margin-left:8px;
    margin-bottom: 5px;
    padding: 1px;
}


/*Slider customization*/
.noUi-horizontal .noUi-base .noUi-handle {
    width: 16px;
    height: 28px;
    left: -8px;
    top: -8px;
    opacity: 0.79;
    outline:none;
}
.noUi-horizontal .noUi-base  .noUi-handle:after, .noUi-horizontal .noUi-base .noUi-handle:before {
    display: none;
}
.noUi-horizontal .noUi-base  .noUi-handle .noUi-tooltip {
    font-size: 0.7em;
    bottom: initial;
    padding: 3px;
    top: 109%;
    z-index:100;
}
.noUi-horizontal {
    height: 14px;
}
.noUi-pips .noUi-marker.noUi-marker-horizontal {
    background: #d8d8d8;
    width: 1px;
    height: 5px;
}
.noUi-pips.no-Ui-pips-horizontal{
    top: 62%;
}
.noUi-horizontal svg {
    position: absolute;
    top: 0;
    z-index: 0;
    box-shadow: rgba(75, 82, 87, 0.45) 0 0 3px 1px;
}
.filterContainer .noUi-target {
    margin-bottom: 37px;
    margin-right: 8px;
    margin-left: 10px;
}

/*Animations*/
.spinning-animation{
    animation:spin 1.4s cubic-bezier(0.64, 0.3, 0.33, 0.64) 20; /* max 20 spins as my gpu gets hot, if for example because of a breakpoint, the animation spins longer*/
}
@keyframes spin { 100% { -webkit-transform: rotate(720deg); transform:rotate(720deg); } }